In [2]:
def calculation(a,b):
    sum = a+b
    sub = a - b
    return sum, sub

calculation(5,5)

(10, 0)

In [6]:
def show_employee(name, salary=9000):
    return name, salary

print(show_employee('Ramesh'))
print('Ben', 12000)

('Ramesh', 9000)
Ben 12000

In [8]:
def show_employee(name, salary=12000):
    print('Name: ', name, 'Salary: ', salary)

show_employee('Dhungana')
show_employee('Ukhum', 18000)

Name:  Dhungana Salary:  12000
Name:  Ukhum Salary:  18000

In [14]:
def outer_func(a,b):
    def inner_func():
        sum = a + b
        return sum
    result = inner_func()+5
    return result
outer_func(5,5)

15

In [18]:
def outer_func(a,b):
    square = a**2

    def addition(a,b):
        return a+b
    
    add = addition(a,b)
    return add + 5
outer_func(2,5)

12

In [20]:
# recursive function 
def addition(num):
    if num:
        return num + addition(num-1)
    else:
        return 0
res = addition(10)
res

55

In [25]:
def display_student(name, age):
    print(name, age)
    

display_student('Emma', 28)
show_student = display_student
show_student('E',12)

Emma 28
E 12

In [44]:
def even_number():
    for i in range(2,30, 2):
        print(i, end=' ')
even_number()

2 4 6 8 10 12 14 16 18 20 22 24 26 28

In [40]:
print(list(range(2,30,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [48]:
def largest():
    x = [4,6,8,24,12]
    print(max(x))
    print(min(x))
largest()

24
4

In [52]:
def describe_pet(animal_type, pet_name):
    print(f'\nI have a {animal_type} named {pet_name}')

# calling the function using positional argument 
describe_pet('Hebivorus', 'Goat')
describe_pet('Dog', 'Lucy')

# calling the function using keyword arguments
describe_pet(animal_type='cat', pet_name='Whiskers')

I have a Hebivorus named Goat

I have a Dog named Lucy

I have a cat named Whiskers

In [58]:
# create a function with keyword arguments 
def print_info(**kwargs):
    if kwargs:
        print('\n--- Information ---')
        for key, value in kwargs.items():
            print(f'{key}: {value}')
    else:
        print('\nNo information Provided')

print_info(name='Alice', age=30,city='New York' )
print_info(job='Engineer', salary=75000)
print_info()

--- Information ---
name: Alice
age: 30
city: New York

--- Information ---
job: Engineer
salary: 75000

No information Provided