In [4]:
# multiplication table
num = int(input('Enter number: '))


for i in range(1,11,1):
    product = num*i
    print(f'{num} * {i} = {product}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [14]:
num = [12,75,150,180,145,525,50]
for i in num:
   if i > 500:
      break
   elif i > 150:
      continue
   elif i%5 == 0:
      print(i)

75
150
145

In [2]:
# print all the prime number
start = 25
end = 50

for num in range(start, end, 1):
    if num > 1:
        for i in range(2, num):
            if (num%i) == 0:
                break
        else:
            print(num)

29
31
37
41
43
47

In [8]:
# display fibonacci series
num1 = 0
num2 = 1
for i in range(0, 10,1):
    print(num1)
    result = num1 + num2
    num1 = num2
    num2 = result

0
1
1
2
3
5
8
13
21
34

In [13]:
# find the factorial of number
num = 5
factorial = 1
for i in range(1,num+1):
    factorial = factorial*i
    print(factorial)

1
2
6
24
120

In [20]:
# calculate the cobe of all numbers
input_number = 6
for i in range(1,input_number+1):
    # i = i**3
    print('Current number is: ', i, 'Cube number is: ', i*i*i)

Current number is:  1 Cube number is:  1
Current number is:  2 Cube number is:  8
Current number is:  3 Cube number is:  27
Current number is:  4 Cube number is:  64
Current number is:  5 Cube number is:  125
Current number is:  6 Cube number is:  216

In [32]:
# print full multiplication table 
num = 1
for i in range(1,11):
    print('Multiplication Table of:', i)
    
    for j in range(1,11):
        print(i*j, end=' ')
    print()

Multiplication Table of: 1
1 2 3 4 5 6 7 8 9 10
Multiplication Table of: 2
2 4 6 8 10 12 14 16 18 20
Multiplication Table of: 3
3 6 9 12 15 18 21 24 27 30
Multiplication Table of: 4
4 8 12 16 20 24 28 32 36 40
Multiplication Table of: 5
5 10 15 20 25 30 35 40 45 50
Multiplication Table of: 6
6 12 18 24 30 36 42 48 54 60
Multiplication Table of: 7
7 14 21 28 35 42 49 56 63 70
Multiplication Table of: 8
8 16 24 32 40 48 56 64 72 80
Multiplication Table of: 9
9 18 27 36 45 54 63 72 81 90
Multiplication Table of: 10
10 20 30 40 50 60 70 80 90 100

In [37]:
#print the alternate pattern
for i in range(1, 6):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5