In [4]:
# multiplication table
num = int(input('Enter number: '))


for i in range(1,11,1):
    product = num*i
    print(f'{num} * {i} = {product}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [14]:
num = [12,75,150,180,145,525,50]
for i in num:
   if i > 500:
      break
   elif i > 150:
      continue
   elif i%5 == 0:
      print(i)

75
150
145

In [2]:
# print all the prime number
start = 25
end = 50

for num in range(start, end, 1):
    if num > 1:
        for i in range(2, num):
            if (num%i) == 0:
                break
        else:
            print(num)

29
31
37
41
43
47

In [8]:
# display fibonacci series
num1 = 0
num2 = 1
for i in range(0, 10,1):
    print(num1)
    result = num1 + num2
    num1 = num2
    num2 = result

0
1
1
2
3
5
8
13
21
34

In [13]:
# find the factorial of number
num = 5
factorial = 1
for i in range(1,num+1):
    factorial = factorial*i
    print(factorial)

1
2
6
24
120

In [20]:
# calculate the cobe of all numbers
input_number = 6
for i in range(1,input_number+1):
    # i = i**3
    print('Current number is: ', i, 'Cube number is: ', i*i*i)

Current number is:  1 Cube number is:  1
Current number is:  2 Cube number is:  8
Current number is:  3 Cube number is:  27
Current number is:  4 Cube number is:  64
Current number is:  5 Cube number is:  125
Current number is:  6 Cube number is:  216

In [32]:
# print full multiplication table 
num = 1
for i in range(1,11):
    print('Multiplication Table of:', i)
    
    for j in range(1,11):
        print(i*j, end=' ')
    print()

Multiplication Table of: 1
1 2 3 4 5 6 7 8 9 10
Multiplication Table of: 2
2 4 6 8 10 12 14 16 18 20
Multiplication Table of: 3
3 6 9 12 15 18 21 24 27 30
Multiplication Table of: 4
4 8 12 16 20 24 28 32 36 40
Multiplication Table of: 5
5 10 15 20 25 30 35 40 45 50
Multiplication Table of: 6
6 12 18 24 30 36 42 48 54 60
Multiplication Table of: 7
7 14 21 28 35 42 49 56 63 70
Multiplication Table of: 8
8 16 24 32 40 48 56 64 72 80
Multiplication Table of: 9
9 18 27 36 45 54 63 72 81 90
Multiplication Table of: 10
10 20 30 40 50 60 70 80 90 100

In [37]:
#print the alternate pattern
for i in range(1, 6):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
name = 'Shishir'
address = 'KTM'

def info(name, address):
    nam = name
    addres = address
    return nam, addres

print(info(name, address))

('Shishir', 'KTM')

In [6]:
def demo(name, address):
    print(name, address)
    
demo('shishir', 'KTM')

shishir KTM

In [8]:
def func1(*args):
    for arg in args:
        print(arg)

func1(80,20, 'hello')

80
20
hello

In [15]:
def func2(**kwargs):
    for sub in kwargs:
        sub_name = sub

        sub_marks = kwargs[sub]
        print(sub_name, '=', sub_marks)


func2(math=100, english=80)

math = 100
english = 80

In [5]:
num1 = 0
num2 = 1
for i in range(10):
    result = num1 + num2
    print(num1)
    num1 = num2
    num2 = result

0
1
1
2
3
5
8
13
21
34

In [9]:
fact = 1
for i in range(1,6):
    fact = fact * i
    # fact = fact + 1
print(fact)

120

In [14]:
num = 76542
reverse_num = 0
while num > 0:
    remainder = num % 10
    reverse_num = (reverse_num * 10) + remainder
    num = num // 10
print('Reverse Number: ', reverse_num)

Reverse Number:  24567

In [5]:
num = 5
for i in range(1, num+2, 1):
    print(f'Current num: {i} and cube num: {i**3}')

Current num: 1 and cube num: 1
Current num: 2 and cube num: 8
Current num: 3 and cube num: 27
Current num: 4 and cube num: 64
Current num: 5 and cube num: 125
Current num: 6 and cube num: 216

In [ ]:
num = int(input('Enter number: '))
if num%2 == 0:
    print('Even')
else:
    print('Odd')

Even

In [8]:
# print('Hello world')
str(input('Enter: '))

'hif'

In [5]:
# print number from the list
numbers = [12,75,150,180,145,525,50]
for num in numbers:
    if num > 500:
        break
    elif num > 150:
        continue
    elif num%5 == 0:
        print(num)

75
150
145

In [10]:
# count the total number of digits in a number
num = 78569
counter = 0

while num!=0:
    num = num//10
    counter +=1
print(counter)

5

In [18]:
fact = 1
for i in range(6):
    fact = fact*i
print(fact)

0

In [22]:
# find the factorial of a given number 
num = 5
fact = 1
if num < 0:
    print('Factorial doesnot eist for negative numbers')
elif num == 0:
    print('The factorial of 0 is 1')
else:
    for i in range(1,num+1):
        
        fact = fact * i

        print(fact)

1
2
6
24
120

In [25]:
# print elements from a given list present at odd id positions 
my_list = [10,20,30,40,50,60,70,80,90,100]
for i in my_list[1::2]:
    print(i)

20
40
60
80
100

In [26]:
terms = 5
num = 2
sum_seq = 0

for i in range(0,terms):
    print(num, end='+')
    sum_seq += num
    num = num*10+2
    print(sum_seq)

2+2
22+24
222+246
2222+2468
22222+24690

In [28]:
for i in range(1,6,1):
    for j in range(i):
        print('*', end=' ')
    print()
for k in range(5,-1,-1):
    for l in range(k):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [34]:
# print full multiplication table
for i in range(1,11,1):
    print('Multiplication table of ', i)
    for j in range(1,11,1):
        print(i*j, end=' ')
        
    print()

Multiplication table of  1
1 2 3 4 5 6 7 8 9 10
Multiplication table of  2
2 4 6 8 10 12 14 16 18 20
Multiplication table of  3
3 6 9 12 15 18 21 24 27 30
Multiplication table of  4
4 8 12 16 20 24 28 32 36 40
Multiplication table of  5
5 10 15 20 25 30 35 40 45 50
Multiplication table of  6
6 12 18 24 30 36 42 48 54 60
Multiplication table of  7
7 14 21 28 35 42 49 56 63 70
Multiplication table of  8
8 16 24 32 40 48 56 64 72 80
Multiplication table of  9
9 18 27 36 45 54 63 72 81 90
Multiplication table of  10
10 20 30 40 50 60 70 80 90 100